<%- include("partials/header") %>
<h1>Home</h1>
<section>
    <form action="/drivers" method="get">
        <label for="search">Search...</label>
        <input type="text" id="search">
    </form>
</section>
<%- include("partials/footer") %>